:root {
  /* colors */

  /* color primary */
  --color-green-200: hsl(148, 38%, 91%);
  --color-green-600: hsl(169, 82%, 27%);
  --color-red: hsl(0, 66%, 54%);

  /* color neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-grey-500: hsl(186, 15%, 59%);
  --color-grey-900: hsl(187, 24%, 22%);

  /* typography */

  --ff-karla: "Karla", sans-serif;
  --fw-400: 400;
  --fw-700: 700;

  --fw-regular: var(--fw-400);
  --fw-bold: var(--fw-700);

  --fs-200: 1rem;
  --fs-250: 1.125rem;
  --fs-400: 2rem;

  --color-text-body: var(--color-grey-900);
  --color-text-required: var(--color-green-600);
  --color-text-error: var(--color-red);

  --text-heading-size: var(--fs-400);
  --text-heading-lh: 100%;
  --text-heading-letter-spacing: -1px;
  --text-heading-fw: var(--fw-bold);
  --text-color-heading: var(--color-grey-900);

  --text-body-bold-md-size: var(--fs-250);
  --text-body-bold-md-lh: 150%;
  --text-body-bold-md-letter-spacing: 0px;
  --text-body-bold-fw: var(--fw-bold);

  --text-body-regular-md-size: var(--fs-250);
  --text-body-regular-md-lh: 150%;
  --text-body-regular-md-letter-spacing: 0px;

  --text-body-regular-sm-size: var(--fs-200);
  --text-body-regular-sm-lh: 150%;
  --text-body-regular-sm-letter-spacing: 0px;

  /* button */
  --button-bg-color: var(--color-green-600);
  --button-bg-color-hover: var(--color-green-600a);
  --button-text-color: var(--color-white);
  --button-text-size: var(--text-body-bold-md-size);
  --button-text-lh: var(--text-body-bold-md-lh);
  --button-text-letter-spacing: var(--text-body-bold-md-letter-spacing);
  --button-text-fw: var(--text-body-bold-fw);

  /* input */
  --border-color-input: var(--color-grey-500);
  --border-color-input-invalid: var(--color-red);

  /* spacing */
  --space-100: 0.5rem;
  --space-150: 0.75rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
  --space-1600: 8rem;

  /* background */
  --body-bg-color: var(--color-green-200);
  --form-container-bg: var(--color-white);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  background-color: var(--body-bg-color);
  color: var(--color-text-body);
  font-size: var(--text-body-regular-sm-size);
  font-weight: var(--fw-regular);
  line-height: var(--text-body-regular-sm-lh);
  font-family: var(--ff-karla);
  letter-spacing: var(--text-body-regular-sm-letter-spacing);
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  place-content: center;
  place-items: center;
  min-block-size: 100vh;
}

/* utilities */

.attribution {
  text-align: center;
}

.form-container {
  background-color: var(--form-container-bg);
  padding: clamp(1.5rem, calc(1.136rem + 1.818vw), 2.5rem);
  border-radius: 1rem;
}

.form {
  display: grid;
  gap: var(--space-500);
}

.form-content {
  display: grid;
  gap: var(--space-400);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio-item label {
  font-size: var(--text-body-regular-md-size);
  line-height: var(--text-body-regular-md-lh);
  letter-spacing: var(--text-body-regular-md-letter-spacing);
}

.error-message {
  color: var(--color-text-error);
}

input,
textarea {
  border: 1px solid var(--border-color-input);
  border-radius: var(--space-100);
  padding: 0.75rem 1.5rem;
}

button {
  display: inline-block;
  cursor: pointer;
  padding: 1rem 0.75rem;
  border-radius: 0.5rem;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  font-size: var(--button-text-size);
  line-height: var(--button-text-lh);
  letter-spacing: var(--button-text-letter-spacing);
  font-weight: var(--button-text-fw);
}

button:hover,
button:focus-visible {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    var(--color-green-600);
}

.fields {
  display: grid;
  gap: var(--space-150);
}

.fields > * {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .fields {
    grid-template-columns: 1fr 1fr;
  }
  .span-2 {
    grid-column: 1 / -1;
  }
}

.radio-group {
  display: grid;
  gap: var(--space-100);
}

@media (min-width: 768px) {
  .radio-group {
    grid-template-columns: 1fr 1fr;
  }
}

.radio-item {
  border: 1px solid var(--border-color-input);
  padding: 0.75rem 1.5rem;
  border-radius: var(--space-100);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-item:hover {
  background-color: var(--color-green-200);
}

.radio-item * + * {
  margin-inline-start: var(--space-150);
}

.checkbox * + * {
  margin-inline-start: var(--space-150);
}

input[aria-invalid="true"],
textarea[aria-invalid="true"] {
  border: 1px solid var(--border-color-input-invalid);
}

input[type="radio"],
input[type="checkbox"] {
  accent-color: var(--color-green-600);
}

textarea {
  resize: none;
}
